[project]
name = "se2-calculator-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0.1",
    "pytest-django>=4.11.1",
]
